
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body{
background: #F7E6D0;
}

img {
  height: 400px;
  position: center;
}

.pad{
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width:120px ;
  cursor: pointer;
  }
.pad ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.pad ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.video {
  display: block;
width: 10%;
color: #F8D8EA;
background: #AB6B51;
border:1px solid black;
}

.test1{
  color: black;
background: white;
width:100%;
text-align: center;
position: absolute;
transform: translateY(-50%);

}

.test1 h3{
  font-size: 50px;
}

.test1 p,a{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;

}

.test2{
  color: black;
background: white;
width:100%;

text-align: center;
position: absolute;
transform: translateY(350%);
}

.test2 h3{
  font-size: 40px;
}

.test2 p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.product{
  position: center;
  transform: translateX(-50%);
}
.div{
  color: black;
background: white;
width:100%;
text-align: center;
position: absolute;
  display: block;
transform: translateY(280%);
margin: 20px auto;
font-weight: 100;

}

.div h3{
  font-size: 40px;
}

.empty{
    border:6px solid black;
    background: #F8D8EA;
      text-align: center;
      height: 300px;
}

h3{
  text-align: center;
  display: block;
  background: #B5865B;
}

.exist{
  color: black;
  text-align: center;
  position: absolute;
  transform: translateY(8080%);
  left: 38%;
}

.fin{
  color: black;
  text-align: center;
  position: absolute;
  transform: translateY(81000%);
  left: 41%;
}
